<form class="px-4" [formGroup]="registerForm" (submit)="onSubmit()">
  <!-- name -->
  <app-auth-custom-input
    label="Name"
    type="text"
    placeholder="Enter Name"
    pattern="[a-zA-Z]*"
    [controller]="this.name"
    minlength="4"
  ></app-auth-custom-input>
  <!-- email -->
  <app-auth-custom-input
    label="Email"
    type="email"
    placeholder="Email"
    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  ></app-auth-custom-input>
  <!-- password -->
  <app-auth-custom-input
    label="Password"
    type="password"
    placeholder="Password"
    pattern="[a-zA-Z0-9]*"
    [controller]="password"
  ></app-auth-custom-input>
  <!-- confirm password -->
  <app-auth-custom-input
    type="password"
    label="Confirm Password"
    placeholder="confirmPassword"
    pattern="[a-zA-Z0-9]*"
    [controller]="confirmPassword"
  ></app-auth-custom-input>
  <!-- Age -->

  <app-auth-custom-input
    label="Age"
    type="number"
    placeholder="Age"
    pattern="[0-9]*"
    [controller]="age"
  ></app-auth-custom-input>

  <!-- Phone number -->
  <app-auth-custom-input
    label="Phone Number"
    type="tel"
    placeholder="Phone Number"
    pattern="[0-9]*"
  ></app-auth-custom-input>
  <!-- submit -->
  <button
    type="submit"
    class="mt-4 w-full border border-indigo-400 p-2 transition-all transform duration-200 hover:bg-indigo-400"
  >
    submit
  </button>
</form>
