<div class="px-4">
  <app-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMessage }}
  </app-alert>
</div>

<form class="px-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <!-- name -->
  <app-auth-custom-input
    label="Name"
    type="text"
    placeholder="Enter Name"
    [controller]="this.name"
    minlength="4"
  >
  </app-auth-custom-input>
  <!-- email -->
  <app-auth-custom-input
    label="Email"
    type="email"
    placeholder="Email"
    [controller]="email"
  ></app-auth-custom-input>
  <!-- password -->
  <app-auth-custom-input
    label="Password"
    type="password"
    placeholder="Password"
    [controller]="password"
  ></app-auth-custom-input>

  <!-- confirm password -->
  <app-auth-custom-input
    type="password"
    label="Confirm Password"
    placeholder="confirmPassword"
    [controller]="confirmPassword"
  ></app-auth-custom-input>
  <!-- Age -->

  <app-auth-custom-input
    label="Age"
    type="number"
    placeholder="Age"
    [controller]="age"
  ></app-auth-custom-input>

  <!-- Phone number -->
  <app-auth-custom-input
    label="Phone Number"
    type="tel"
    placeholder="Phone Number"
    [controller]="phoneNumber"
    format="(00) 0000-0000"
  ></app-auth-custom-input>
  <!-- submit -->
  <button
    type="submit"
    [disabled]="registerForm.invalid || loading"
    class="mt-4 w-full border p-2 disabled:cursor-not-allowed transition-all transform duration-200 hover:bg-indigo-400"
    [ngClass]="{
      ' cursor-not-allowed disabled:opacity-60 ':
        registerForm.invalid || registerForm.pending || registerForm.disabled
    }"
  >
    submit
  </button>
</form>
