<div class="flex flex-col mt-5">
  <label for="password" class="text-gray-200 text-sm font-bold mb-2">{{
    label
  }}</label>
  <input
    type="{{ type }}"
    class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none bg-transparent focus:border-indigo-400"
    placeholder="{{ placeholder }}"
    pattern="{{ pattern }}"
    required
[formControl]="controller"
  />
  <p
    class="text-red-500 mt-2 text-xs"
    *ngIf="
      controller.hasError('required') &&
      controller.touched  
    "
  >
    Filed is required
  </p>

  <!-- min len check -->
  <p
    class="text-red-500 mt-2 text-xs"
    *ngIf="
      controller.hasError('minlength') &&
      controller.touched
    "
  >
    Name must be at least
    {{ controller.errors['minlength']?.requiredLength }}
    characters long.
  </p>
</div>
