<div class="z-50 inset-0 fixed bg-[#161d31] bg-opacity-70 scrollbar-hide">
  <div class="flex items-center justify-center h-full">
    <!-- Modal -->
    <div class="bg-[#283046] h-[450px] rounded-md w-[380px] sm:w-[470px]">
      <!-- top session your account -->
      <div class="p-4 flex items-center flex-row justify-between">
        <span class="text-2xl font-bold"> Your Account </span>
        <span class="font-bold cursor-pointer">&#x2715;</span>
      </div>

      <!-- login and register btn -->
      <app-auth-buttons></app-auth-buttons>
      <app-auth-inputs></app-auth-inputs>
    </div>
  </div>
</div>
