<div class="flex items-center justify-center">
  <div class="bg-[#283046] flex-1 mt-10 max-w-[1500px] p-4 mx-4">
    <!-- uploads video -->
    <div>
      <span class="text-xl font-semibold text-white"> uploads video </span>

      <!-- upload asset -->
      <div
        class="border my-5 transform transition-all duration-200 hover:border-none rounded-md hover:bg-indigo-400 select-none relative border-dotted text-center p-10"
      >
        <input
          type="file"
          class="h-[200px] opacity-0 w-full text-center cursor-pointer bg-red-400"
          nv-file-select
          #fileInput
        />
        <span class="absolute right-[45%] text-2xl top-1/2 cursor-pointer">
          Drop your file here mp4 only !
        </span>
      </div>
    </div>

    <!-- set thumbnail -->
    <div>
      <span class="text-xl font-medium text-white"> set thumbnail </span>
    </div>
  </div>
</div>
