<div class="flex items-center justify-center pb-24">
  <div class="bg-[#283046] flex-1 mt-10 max-w-[1500px] p-4 mx-4 relative">
    <span class="text-xl font-semibold text-white"> uploads video </span>
    <div class="mt-6">
      <!-- uploads video -->
      <app-alert *ngIf="alert.show" [color]="alert.alertColor">
        {{ alert.message }}
      </app-alert>
      <!-- upload asset -->
      <div
        *ngIf="!file; else formTemplate"
        app-event-blocker
        (dragend)="isDrageOver = false"
        (dragenter)="isDrageOver = true"
        (dragleave)="isDrageOver = false"
        (dragover)="isDrageOver = true"
        (mouseleave)="isDrageOver = false"
        (drop)="onDrop($event)"
        [ngClass]="{ 'bg-indigo-400 border-solid ': isDrageOver }"
        class="relative flex items-center justify-center p-10 my-5 text-center transition-all duration-200 transform border border-dotted rounded-md select-none hover:border-none hover:bg-indigo-400"
      >
        <ng-container>
          <span
            *ngIf="!FfmpegService.isReady; else upload"
            class="p-8 text-6xl text-center material-icons animate-spin"
          >
            settings
          </span>
        </ng-container>

        <ng-template #upload>
          <input
            type="file"
            class="h-[200px] upload_video opacity-0 w-full text-center cursor-pointer bg-red-400"
            nv-file-select
            #fileInput
            (change)="onDrop($event)"
          />
          <span class="absolute text-lg cursor-pointer md:text-2xl">
            Drop your file here mp4 only !
          </span>
        </ng-template>
      </div>

      <!-- set thumbnail -->
      <ng-template #formTemplate>
        <span class="mt-4 text-xl font-medium text-white"> set thumbnail </span>
        <div
          *ngIf="this.FfmpegService.isUploading; else screen_short"
          class="flex items-center justify-center w-full mt-4"
        >
          <span class="p-8 text-6xl text-center material-icons animate-spin">
            autorenew
          </span>
        </div>
        <ng-template #screen_short>
          <div
            class="flex flex-col items-center mt-4 select-none lg:flex-row justify-evenly"
          >
            <div *ngFor="let img of images">
              <img
                [src]="img | safeURL"
                alt=""
                class="lg:w-[450px] my-5 cursor-pointer"
                (click)="setThumbnail(images.indexOf(img))"
                [ngClass]="
                  selectedImage === images.indexOf(img)
                    ? 'border-[8px]   border-green-400'
                    : 'border-none'
                "
              />
            </div>
          </div>
        </ng-template>
        <!-- form -->
        <form [formGroup]="uploadForm" (ngSubmit)="upload()">
          <div>
            <span class="block mt-5 mb-4 text-xl font-medium text-white">
              Title
            </span>
            <app-auth-custom-input
              label="Title"
              type="text"
              placeholder="Title"
              [controller]="title"
              minlength="4"
            ></app-auth-custom-input>
          </div>
          <!-- submit button -->
          <div class="flex justify-end mt-5">
            <button
              [disabled]="!uploadForm.valid || !file || submitting"
              class="px-4 py-2 text-white bg-indigo-400 rounded-md disabled:cursor-not-allowed"
            >
              Upload
            </button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
</div>
