<form class="px-4">
  <!-- Email -->
  <app-auth-custom-input
    label="Email"
    type="email"
    placeholder="Email"
    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  ></app-auth-custom-input>
  <!-- Password -->
  <app-auth-custom-input
    label="Password"
    type="password"
    placeholder="Password"
    pattern="[a-zA-Z0-9]*"
  ></app-auth-custom-input>

  <!-- submit -->
  <button
    type="submit"
    class="mt-4 w-full border border-indigo-400 p-2 transition-all transform duration-200 hover:bg-indigo-400"
  >
    Sign In
  </button>
</form>
