<form
  class="px-4"
  *ngIf="!forgetPassword"
  #LoginForm="ngForm"
  (ngSubmit)="onSubmit(LoginForm)"
>
  <app-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMessage }}
  </app-alert>
  <!-- Email -->
  <div class="flex flex-col mt-5">
    <label for="password" class="mb-2 text-sm font-bold text-gray-200"
      >Email</label
    >
    <input
      label="Email"
      required
      type="email"
      placeholder="Email"
      #email="ngModel"
      name="email"
      ngModel="{{ credentials.email }}"
      required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none bg-transparent focus:border-indigo-400"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />
  </div>
  <!-- Errors Mail -->
  <p
    *ngIf="email.errors && email.touched"
    class="mb-2 text-sm font-bold text-red-500"
  >
    Email is InValid
  </p>

  <!-- Password -->
  <div class="flex flex-col my-5">
    <label for="password" class="mb-2 text-sm font-bold text-gray-200"
      >password</label
    >
    <input
      #password="ngModel"
      required
      label="Password"
      type="password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none bg-transparent focus:border-indigo-400"
      placeholder="Password"
      name="password"
      required
      ngModel="{{ credentials.password }}"
    />
    <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" -->
  </div>

  <!-- forget password -->
  <div class="flex justify-end">
    <button
      type="button"
      (click)="onForgetPasswordClick()"
      class="text-sm text-indigo-400 hover:text-indigo-500 hover:underline"
    >
      Forget Password?
    </button>
  </div>

  <!-- Errors password-->
  <p
    *ngIf="password.errors && password.touched"
    class="mb-2 text-sm font-bold text-red-500"
  >
    Password must be at least 8 characters, contain at least one lowercase
    letter
  </p>

  <!-- submit -->
  <button
    type="submit"
    [disabled]="LoginForm.invalid || inSubmission"
    [ngClass]="{
      ' cursor-not-allowed disabled:opacity-60 ':
        LoginForm.invalid || LoginForm.pending || LoginForm.disabled
    }"
    class="w-full p-2 mt-4 transition-all duration-200 transform border border-indigo-400 submit_btn disabled:cursor-not-allowed hover:bg-indigo-400"
  >
    Sign In
  </button>
</form>

<!-- forget password -->

<form
  *ngIf="forgetPassword"
  (ngSubmit)="onForgetPassword(ChangePassword)"
  class="px-4"
  #ChangePassword="ngForm"
>
  <app-alert *ngIf="showAlert" [color]="alertColor">
    {{ alertMessage }}
  </app-alert>
  <div class="flex flex-col mt-5">
    <label for="password" class="mb-2 text-sm font-bold text-gray-200"
      >Email</label
    >
    <input
      label="Email"
      required
      type="email"
      placeholder="Email"
      #email="ngModel"
      name="email"
      ngModel="{{ forgetPasswordForm.email }}"
      required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none bg-transparent focus:border-indigo-400"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
    />
  </div>

  <!-- Errors Mail -->
  <p
    *ngIf="email.errors && email.touched"
    class="mb-2 text-sm font-bold text-red-500"
  >
    Email is InValid
  </p>

  <!-- submit -->
  <button
    type="submit"
    [disabled]="ChangePassword.invalid || inSubmission"
    [ngClass]="{
      ' cursor-not-allowed disabled:opacity-60 ':
        ChangePassword.invalid ||
        ChangePassword.pending ||
        ChangePassword.disabled
    }"
    class="w-full p-2 mt-4 transition-all duration-200 transform border border-indigo-400 submit_btn disabled:cursor-not-allowed hover:bg-indigo-400"
  >
    Send
  </button>
</form>
