<div class="container relative z-50 mx-auto">
  <!-- Main Content -->
  <!-- user details -->
  <app-user-detail-box [clip_id]="game_id" [owner]="clip_user">
  </app-user-detail-box>
  <!-- More clips -->
  <div class="mx-2 w-full">
    <h2 class="mt-6 text-2xl">More Clips</h2>
    <!-- game card -->
    <div class="flex flex-wrap gap-4 justify-center">
      <app-game-card
        *ngFor="let game of games_asset"
        [gameImage]="game.gameImage"
        [gameTitle]="game.gameTitle"
        [UploadedDate]="game.UploadedDate"
      ></app-game-card>
    </div>
  </div>
</div>
