<div class="mt-10 overflow-hidden container mx-auto">
  <!--    Top bar -->
  <app-top-bar></app-top-bar>
  <!-- uploaded video -->
  <div class="flex flex-1 items-center justify-center flex-wrap gap-5">
    <app-video-card
      *ngFor="let game of gameDetails"
      [title]="game.title"
      [imgUrl]="game.imgUrl"
      [videoData]="game"
      (openModal)="openModal($event)"
      (onDelete)="onDelete($event)"
    >
    </app-video-card>
  </div>
</div>

<app-edit-modal [activeClip]="activeClip"></app-edit-modal>
