<div
  *ngIf="owner"
  class="flex mx-3 items-center bg-secondary space-x-4 p-3 h-[60px] mt-4 rounded-md"
>
  <!-- user  logo -->
  <div class="flex items-center space-x-4">
    <img
      class="w-10 h-10 rounded-full border-green-400 border-[2px]"
      [src]="
        'https://avatars.dicebear.com/api/pixel-art/' +
        this.owner?.name +
        '.svg;'
      "
      crossorigin
    />
    <!-- name -->
    <span class="text-white font-semibold">
      {{ owner.name }}
    </span>
  </div>

  <!-- subscribe -->

  <div class="flex items-center space-x-4">
    <button [ngClass]="style.subscribe_btn">Subscribe</button>
  </div>

  <!-- reactions -->
  <div class="flex items-center space-x-3">
    <!-- like -->
    <span (click)="like()" [ngClass]="style.reaction_btn"> thumb_up </span>

    <!-- dislike -->
    <span [ngClass]="style.reaction_btn"> thumb_down </span>

    <!-- share -->
    <span [ngClass]="style.reaction_btn"> share </span>
  </div>
</div>
